<div class="container">
<div class="card m-5" style="width: 40rem;">
	<h4 class="card-header">Registration</h4>
	
		<div class="card align-items-center" style="width: 40rem;">
	<div class="card-body">
<div id="form-wrapper" style="max-width:500px;margin:auto;">
	

<form [formGroup]="registrationForm" (ngSubmit)="AfterSubmit()">
	<div>
		<label>First Name:</label>
		<input type= 'required' placeholder="Enter first name" style="width:400px;" formControlName="firstname" class="form-control" />
		<span *ngIf="registrationForm?.get('firstname')?.touched && registrationForm?.get('firstname')?.errors ">

   <span *ngIf="registrationForm.get('firstname').hasError('required')" style="color: red;">First Name is required</span>

		<span *ngIf="registrationForm.get('firstname').hasError('pattern')" style="color: red;"> Only characters are
      allowed.</span>
		<span *ngIf="registrationForm.get('firstname').hasError('minlength')" style="color: red;">First Name required atleast
      3 characters</span>
		<span *ngIf="registrationForm.get('firstname').hasError('maxlength')" style="color: red;"> First Name required only
      30 characters</span>
		</span>
	</div>

	<br/>

	<label>Last Name:</label>
	<input type="text" placeholder="Enter Last Name" style="width:400px;" formControlName="lastname" class="form-control" />
	<span *ngIf="registrationForm.get('lastname').touched && registrationForm.get('lastname').errors  "> </span>

	<span *ngIf="registrationForm.get('lastname').hasError('required')" style="color: red;">Please Enter Last Name</span>

	<br />
	<div>
		<label>Gender: </label>
		<input type="radio" formControlName="gender" value="MALE">Male
		<input type="radio" formControlName="gender" value="FEMALE">Female
		
	</div>	
		<div>
			<label for="city">City: </label>
			

			<select id="city" name="city" style="width:400px;"  class="form-control">
            

               <option value="">Select City</option>
           <option value="1">Hyderabad</option>
           <option value="2">Nalgonda</option>
           <option value="3">Siddipet</option>
           <option value="4">Nizamabad</option>
           <option value="5">Karimnagar</option>
           <option value="6">Adilabad</option>
           <option value="7">Rangareddy</option>
           <option value="8">Warangal</option>
           <option value="9">Khammam</option>
           <option value="10">Medak</option>
           <option value="11">Mahabubnagar</option>
		 </select>
		
		</div>
	
		
		<br />

		<label>Pincode:</label>
		<input type= 'required' placeholder="Enter pincode" style="width:400px;" formControlName="pincode" class="form-control" />
		<span *ngIf="registrationForm.get('pincode').touched && registrationForm.get('pincode').errors  "> 
		<span *ngIf="registrationForm.get('pincode').hasError('required')" style="color: red;">Pincode is required</span>
	</span>


		<span *ngIf="registrationForm.get('pincode').hasError('pattern')" style="color: red;"> Pincode is invalid.</span>

		<br />
		<label>PhoneNumber:</label>
		<input type="text" maxlength="10" placeholder="Enter phonenumber" style="width:400px;" formControlName="phonenumber" class="form-control" />
		<span *ngIf="registrationForm.get('phonenumber').touched &&registrationForm.get('phonenumber').errors  "> 

		<span *ngIf="registrationForm.get('phonenumber').hasError('required')" style="color: red;">Phone Number is
      required</span>

		<span *ngIf="registrationForm.get('phonenumber').hasError('minlength')" style="color: red;">Phone Number required
      atleast 10 characters.</span>

		<span *ngIf="registrationForm.get('phonenumber').hasError('maxlength')" style="color: red;">Phone Number required
      only 12 characters.</span>

		<span *ngIf="registrationForm.get('phonenumber').hasError('pattern')" style="color: red;">Only Numbers are
      allowed.</span>
	</span>

		<span *ngIf="registrationForm.get('phonenumber').hasError('pattern')" style="color: red;"> phonenumber is invalid.</span>


		<br />

		<label>Email Address:</label>
		<input type="text" placeholder="Enter Email address" style="width:400px;" formControlName="email" class="form-control" />
		<span *ngIf="registrationForm.get('email').touched &&registrationForm.get('email').errors  "> 
		<span *ngIf="registrationForm.get('email').hasError('required')" style="color: red;">Email address is required</span>


		<div *ngIf="registrationForm.get('email').hasError('pattern')" style="color: red;"> Email address is invalid.</div>
	</span>

		<br />

		<label>Password:</label>
		<input type="password" placeholder="Enter Password" style="width:400px;" formControlName="password" class="form-control" />
		<span *ngIf="registrationForm.get('password').touched &&registrationForm.get('password').errors"> 
		<span *ngIf="registrationForm.get('password').hasError('required')" style="color: red;"> Password is required</span>

		<span *ngIf="registrationForm.get('password').hasError('minlength')" style="color: red;"> Password required atleast 5
      characters</span>

		<span *ngIf="registrationForm.get('password').hasError('maxlength')" style="color: red;"> Password should not exceed
      18 characters.</span>

	</span>

		<input required type="checkbox" style="width:15px;" formControlName="acceptTerms" class="form-control" />
		<label>Accept Terms & Conditions</label>
		<span *ngIf="registrationForm.get('acceptTerms').touched &&registrationForm.get('acceptTerms').errors">
		<span *ngIf="registrationForm.get('acceptTerms').hasError('required')" style="color: red;">Check Ts & Cs is required</span>
	</span>
<br/>
		<a [routerLink]="['/login']" class="btn btn-link"> Login </a>
		
	
		<div style="float:right; font-size: 80%; position: relative; top:-0px">
			
			<a [routerLink]="['/forgot']" class="btn btn-link"> Forgot password </a>

		  </div><br/>
		
		  <button type="submit" style="float:right;" class="btn btn-primary" [disabled]="!registrationForm.valid"> Register</button><br/>
</form>
</div>
</div>
</div>
</div>
</div>







